*{
    margin: 0;
    padding: 0;
    
}

body{
    display: grid;
    grid-template-areas:
    "my-header my-header"
    "my-article my-section"
    "my-main my-main"
    "my-footer my-footer"
    ;
    grid-template-columns: 30% 70%;
    grid-template-rows: 500px 1fr 1fr 80px;
    overflow-x: hidden;
}

/****************************************************************************************************************************************
*****************************************************************************************************************************************
*****************************************************************************************************************************************
****************************************************HEADER Y NAV*************************************************************************
*****************************************************************************************************************************************
*****************************************************************************************************************************************
****************************************************************************************************************************************/
header{
    grid-area: my-header;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    width: 100%;
    height: 12%;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    margin: 10px; 
}

.logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

nav ul{
    display: flex;
}

nav ul li{
    display: flex;
    list-style-type: none;
    align-items: center;
    text-align: center;
    margin-right: 15px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.aqui{
    color: rgb(159, 18, 18);
}

nav:hover{
    width: 100%;
    height: 12%;
    background: white;
}

nav:hover ul li a{
    color: black;
}

nav ul li a:hover{
    border-bottom: 2px solid rgb(159, 18, 18);
}


.Titulo{
    padding-left: 80px;
    position: absolute;
    height: 200px;
    width: 100%;
    top: 50%;
    transform: translateY(-100%);
    text-transform:uppercase;
}

.Titulo h1{
    font-size: 60px;
    color: white;
}

.Titulo p{
    color: rgb(159, 18, 18);
    font-size: 21px;
}

header video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
}

/****************************************************************************************************************************************
*****************************************************************************************************************************************
*****************************************************************************************************************************************
************************************************ARTICLE SECTION Y MAIN******************************************************************
*****************************************************************************************************************************************
*****************************************************************************************************************************************
****************************************************************************************************************************************/

.my-article{
    display: flex;
    grid-area: my-article;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(245, 245, 220, 40%);
}

.my-article ul li{
    list-style-type: none;
}

.my-article ul li a{
    text-decoration: none;
    color: rgb(159, 18, 18);
    text-transform: uppercase;
    font-weight: bold;
}

.my-article ul>*:not(:last-child){
    margin-bottom: 15px;
}

.my-section{
    grid-area: my-section;
    padding: 20px;
}

.my-section article:nth-child(1){
    margin-bottom: 15px;
}

.my-section article{
    text-align: justify;
}

/****************************************************************************************************************************************
*****************************************************************************************************************************************
*****************************************************************************************************************************************
***********************************************************MAIN**************************************************************************
*****************************************************************************************************************************************
*****************************************************************************************************************************************
****************************************************************************************************************************************/

main{
    grid-area: my-main;
    padding: 20px;
    background: rgba(159, 18, 18, 70%);
}

main section:nth-child(1){
    margin-bottom: 15px;
}

main section{
    text-align: justify;
}

/****************************************************************************************************************************************
*****************************************************************************************************************************************
*****************************************************************************************************************************************
***********************************************FOOTER******************************************************************************
*****************************************************************************************************************************************
*****************************************************************************************************************************************
****************************************************************************************************************************************/

footer{
    grid-area: my-footer;
    background: black;
    display: flex;
    justify-content: space-evenly;
}

footer p{
    color: gray;
}

footer>p{
    align-content:end;
}

footer ul{
    display: flex;
}

.infoPie{
    align-content:center;
}

.infoPie a{
    color: white;
}

.infoPie a:nth-child(2){
    margin: 50px;
}

.icono1{
    width: 40px;
    margin-top: 15px;
    margin-right: 5px;
}

.icono2{
    width: 82px;
    margin-top: 9px;
}